body{
    background: fixed;
    background-color: lightgray;
    margin: auto;
    font-family: 'Fredoka One', cursive;
    background-image: url(notepad-vector-png.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50.5% 110%;
}

h1{
    color: red;
}

#infoText{
    color: black;
    text-align: center;
    margin-top: 5rem;
    font-weight: 300;

}

#toDoInputField{
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: auto;
}

#to-do-button{
    width: auto;
}

#userInput{
    width: 40%;
    margin-left: 27%;
    height: 2rem;
}

#newToDoLine{
    text-align: center;
    word-spacing: normal;
    margin-top: 2rem;

}

#deleteTaskBtn{
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(211, 211, 211, 0);
    background-position: auto;
    height: 25px;
    width: 25px;
    margin-left: 50%;
    border: none;
    outline: none;
    display: flexbox;
}

#checkTaskBtn{
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(211, 211, 211, 0);
    background-position: auto;
    height: 25px;
    width: 25px;
    margin-left: 50%;
    border: none;
    outline: none;
    display:list-item;
    text-decoration: line-through;
}

