body{
    background: fixed;
    background-color: lightgray;
    margin: auto;
    font-family: 'Fredoka One', cursive;
}

h1{
    
}

#infoText{
    color: black;
    text-align: center;
    margin-top: 5rem;
    font-weight: 300;

}

#toDoInputField{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: auto;
}

#to-do-button{
    width: auto;
}

#userInput{
    width: 40%;
    margin-left: 27%;
    height: 2rem;
}

p{
    text-align: center;
    margin-top: 2rem;
    
}

#deleteTaskBtn{
    background-image: url(deleteButtonX.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightgray;
    background-position: auto;
    height: 25px;
    width: 25px;
    margin-left: 50%;
    border: none;
    outline: none;

}

